$default-white-color: #fff;
$default-black-color: #000000;
$default-turquoise-color: #029491;
$default-light-turquoise-color: #7ce3e1;
$default-orange-color: #ffb64f;
$default-blue-color: #5970ff;
$default-gray-color: #949494;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "Ferry";
  src: local("Ferry"), url(../src/asets/fonts/Ferry/ferry_black.otf),
    url(../src/asets/fonts/Ferry/ferry_black.woff);
  font-style: normal;
  font-weight: 900;
}

.slick-list {
  .slick-track {
    margin-left: 0;
  }
}

.mobileMenu {
  display: none;
}
.error {
  color: #ff5959;
}

.errorWrapper {
  text-align: center;
}

.loader {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

// .font-Ferry-script {
//   font-family: "Ferry";
// }

html {
  display: flex;
  flex-direction: column;
  background-color: $default-white-color;
  box-sizing: border-box;
  width: 1440px;
  font-family: "Ferry";
}

//header not login

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 60px;
}

.NavigationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  padding-left: 401px;
}

.menuList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menuItem {
  padding-right: 49px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  list-style-type: none;
  color: $default-black-color;
}

.menuItemHref {
  color: $default-black-color;
  text-decoration: none;
}

.authorizationButtonBlock {
  display: flex;
  flex-direction: row;
  width: 251px;
  justify-content: space-between;
  align-items: center;
}

.primaryButton {
  border: none;
  text-align: center;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  color: $default-black-color;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  // cursor: pointer;
}

.lightButton {
  background-color: transparent;
  font-weight: 400;
  opacity: 0.4;
}

.loginButton {
  background-color: $default-turquoise-color;
  font-weight: 500;
  padding: 4px 10px 5px 12px;
  border-radius: 5px;
}

.userDocumentsDataWrapper {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.userCompanyDataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 15px 10px;
  background: rgba(217, 217, 217, 0.4);
  border-radius: 5px;
  margin-right: 128px;
}

.userCompanyData {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #aaaaaa;
}
.userCompanyDataCount {
  margin-top: -3px;
  padding-left: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.userCompanyLimit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 7px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #aaaaaa;
}

.userCompanyLimitCount {
  margin-top: -3px;
  padding-left: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #8ac540;
}

.userCompanyDataLoading {
  display: none;
}

// .userCompanyDataLoading {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 175px;
//   height: 63px;
//   justify-content: center;
//   background: rgba(217, 217, 217, 0.4);
//   border-radius: 5px;
//   margin-right: 128px;
// }

// .userCompanyDataLoader {
//   width: 24px;
//   height: 24px;
//   animation: 1s linear 0s normal none infinite running userCompanyDataLoader;
//   -webkit-animation: 1.5s linear 0s normal none infinite running
//     userCompanyDataLoader;
//   width: 100px;
// }
// @keyframes userCompanyDataLoader {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
// @-webkit-keyframes userCompanyDataLoader {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

.userAccountWrapper {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
}

.userAccountTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 4px;
}

.userName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $default-black-color;
  opacity: 0.7;
}

.userAccountLogout {
  // cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: $default-black-color;
  opacity: 0.4;
}

.userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 25px;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  padding: 69px 60px 0px 60px;
}

.leftPartRegister {
  display: flex;
  flex-direction: column;
}

.primaryTitle {
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  // font-family: "Ferry";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: $default-black-color;
  // padding-right: 73px;
}

.imgPeopleLogin {
  width: 322px;
  height: 342px;
  padding: 13.9px 376px 103px 112px;
}

.rightPartRegister {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imgProtected {
  width: 75.22px;
  height: 92.06px;
  z-index: 10;
  position: absolute;
  width: 75.22px;
  height: 92.06px;
  left: 828px;
  top: 121px;
}

.loginForm {
  background: $default-white-color;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: fit-content;
}

.loginFormWrapper {
  padding: 25px 25px 39px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsBlockWrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  width: fit-content;
}

.formLightButtonLogin {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: $default-turquoise-color;
  padding-bottom: 10px;
  border-bottom: solid $default-turquoise-color 2px;
  width: 151px;
  margin-right: 15px;
}

.formLightButtonRegist {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: $default-gray-color;
  border-bottom: solid $default-gray-color 2px;
  width: 213px;
}

.formLable {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: $default-gray-color;
  padding-bottom: 15px;
  width: 381px;
}

.forminput {
  background: #ffffff;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 379px;
  height: 43px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;

  &.error {
    border: 1px solid #ff5959;
  }
}

.secondsryButton {
  align-items: center;
  background: #5970ff;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 379px;
  height: 59px;
  margin-bottom: 14px;
  margin-top: 7px;
}

.blueButton {
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #5970ff;
  width: 166px;
  height: 17px;
  margin-bottom: 30px;
}

.loginAddwrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.loginAddTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #949494;
  padding-bottom: 15px;
}

.loginAddButtonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.imgButton {
  padding: 6px 18px 5px 18px;
  width: 96px;
  height: 31px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid rgba(89, 112, 255, 0.51);
  border-radius: 3px;
  // cursor: pointer;
}

primaryButton:disabled {
  background-color: #c7c7c7;
  cursor: alias;
}

secondsryButton:disabled {
  background-color: #c7c7c7;
  cursor: alias;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $default-turquoise-color;
  padding: 25px 45px 0px 60px;
}

.logoFooter {
  margin-top: -24px;
}

.infoFooterWrapper {
  justify-content: end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.infoFooter {
  max-width: 200px;
  padding-bottom: 21px;
}

.footerCopyright {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.secondaryTitle {
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.01em;
}

.subtitleMain {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: $default-black-color;
  padding-top: 20px;
  padding-bottom: 70px;
}

.imgAddData {
  width: 629px;
  height: 593px;
  size: contain;
}

.mainWrapperColumn {
  flex-direction: column;
}

.aboutUsTitle {
  margin-left: 50px;
}

.SliderAboutUs {
  margin: 70px 0 70px 70px;
  width: 1346px;
  height: 349px;
}

.slick-prev {
  left: -51px !important;
}
.slick-prev,
.slick-next {
  top: 40% !important;
}

.NextArrow {
  margin-left: 20px !important;
}

PrevArrow {
  margin-left: 50px !important;
}

.WhyWeImg {
  width: 1307px;
  height: 575.52px;
  margin-left: 51px;
}

.mainWrapperPrice {
  flex-direction: column;
  padding-top: 107px;
}

.therdTittle {
  font-weight: 900;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.01em;
}

.ProductCardList {
  display: flex;
  flex-direction: row;
  margin-top: 73px;
  box-sizing: border-box;
  padding-bottom: 118px;
}

.cardWrapper {
  width: 415px;
  height: 540px;
  margin-right: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  display: flex;
  flex-direction: column;

  .action {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.cardWrapperBeginner {
  border: 2px solid $default-orange-color;
}

.cardTitlewrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cardTitlewrapperBeginner {
  background-color: $default-orange-color;
  border: 2px solid $default-orange-color;
  border-radius: 8px 8px 0px 0px;
}

.cardTitlewrapperPro {
  background-color: $default-light-turquoise-color;
  border-radius: 10px 10px 0px 0px;
}

.cardTitlewrapperBusiness {
  background-color: $default-black-color;
  border-radius: 10px 10px 0px 0px;
}

.textCard {
  padding: 30px 72px 34px 30px;
}

.cardTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: $default-black-color;
  padding-bottom: 10px;
  z-index: 5;
}

.cardSubtitle {
  font-weight: 400;
  // font-size: 18px;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: $default-black-color;
  z-index: 5;
}

.cardTitleBusiness {
  color: $default-white-color;
}

.cardSubtitleBusiness {
  color: $default-white-color;
}

.logoCard {
  width: 93.76px;
  height: 103.97px;
  z-index: 10;
  padding-right: 10px;
  padding-top: 8px;
}

.priceCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 15px 62px 27px;
}

.activeTarifeBage {
  margin-left: 218px;
  width: 134px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 3px 13px 4px 13px;
  background: #3ba5e0;
  border-radius: 10px;
}

.priceCardWrapperNobadge {
  padding-top: 35px;
}

.priceWrapperNoMonth {
  padding-bottom: 21px;
}

.priceOfYear {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.saledPrice {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  opacity: 0.5;
  padding-left: 19px;
  padding-bottom: 13px;
}

.priceOfMonth {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
}

.includedInTariffWrapper {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  padding-left: 30px;
}

.includedInTarifTitle {
  list-style-image: url(../src/asets/images/check-mark-green.svg);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  padding-left: 25px;
  margin-top: 9px;
}

.therdButton {
  width: 355px;
  height: 59px;
}

.grayButton {
  background: #d2d2d2;
  color: #000000;
}

.imgFined {
  height: fit-content;
  width: fit-content;
}

.SearchNewsByCompany {
  display: flex;
  flex-direction: row;
}

.leftPartSearc {
  display: flex;
  flex-direction: column;
}

.SearchTextWrapper {
  padding-right: 120px;
}

.rightPartSearchNewsByCompany {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.formSearcWrapper {
  display: flex;
  flex-direction: row;
  width: 789px;
  height: 482px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 11px;
  margin-bottom: 50px;
  padding: 29px 39px 32px 44px;
}

.formSearcLeft {
  display: flex;
  flex-direction: column;
}

.formSearcRight {
  display: flex;
  flex-direction: column;
}

.forminputSearc {
  // cursor: pointer;
  width: 242px;
  text-align: center;
  color: #949494;
  opacity: 0.4;
  border: 1px solid #949494;
}

.formInputLableSearc {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #000000;
}

.selectTonal {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: $default-black-color;
  padding: 13px 22px;
  width: 242px;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url(../src/asets/images/arrow-select-down.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 13.74px 13.74px;
  margin-bottom: 30px;
}
.selectTonal::-ms-expand {
  display: none;
}
.selectTonal:hover {
  border-color: $default-gray-color;
}
.selectTonal:focus {
  border-color: $default-gray-color;
  box-shadow: 0 0 1px 1px $default-gray-color;
  outline: none;
}
.selectTonal option {
  font-weight: normal;
}
*[dir="rtl"] .selectTonal,
:root:lang(ar) .selectTonal,
:root:lang(iw) .selectTonal {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

.DatePickerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.DatePicker {
  width: 176px;
  height: 43px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #949494;
}

.checkSearcWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.labelCheckSerch {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.fake {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  border: 1px solid $default-gray-color;
  background-size: 14px 14px;
}
.fake::before {
  content: url(../src/asets/images/green-check.svg);
  opacity: 0;
  transition: 0.2s;
  padding-top: 2px;
}
.checkbox:checked + .fake::before {
  opacity: 1;
}

.checkTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: $default-black-color;
  padding-left: 5px;
}

.buttonSearcWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 113px;
  margin-bottom: 32px;
}

.FothButton {
  width: 305px;
}

:disabled {
  background: #5970ff;
  opacity: 0.4;
}

.footnoteSearc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #949494;
}

.LoadingDataCompanyWrapperHorizontal {
  display: flex;
  flex-direction: row;
  margin: 25px 43px 107px 60px;
}

.leftPartDataCompany {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightPartDataCompany {
  display: flex;
  padding-left: 217px;
}

.subtitleDataCompany {
  padding-top: 36px;
  padding-bottom: 127px;
}

.SummaryDataCompanyTitleWrapper {
  margin-left: 60px;
}
.subtitleLightGray {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #949494;
  padding-top: 17px;
}

.SliderSummaryDataCompany {
  margin: 27px 0 107px 100px;
  width: 1260px;
  height: 158px;
  border: 1px solid #029491;
  border-radius: 10px 10px 10px 10px;
}

.sliderBlock {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 133px !important;
  height: 118px !important;
  padding: 18px 0px 22px 0px;
  border-left: 2px solid $default-gray-color;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.sliderAkcentBlock {
  background: #029491;
  width: 139px !important;
  border-radius: 10px 0px 0px 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.ReceivedDataCompanyTitle {
  margin-left: 60px;
}

.DocumentItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 59px;
}

.newsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 38px;
  margin-bottom: 38px;
  padding: 19px 30px 35px 30px;
  width: 641px;
  height: 694px;
  box-sizing: border-box;
}

.headerNews {
  display: flex;
  flex-direction: row;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #949494;
}

.sourceNews {
  padding-left: 14px;
  text-decoration: underline 1px solid;
}

.titleNews {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 24px 0 18px 0;
}

.badgeNews {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 4px 11px 3px 14px;
  background: #ffb64f;
  border-radius: 5px;
}

.imageNews {
  margin-top: 14px;
  border-radius: 10px;
}

.digestNews {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 32px;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
}

.buttonAndInfoBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.lightTurquoiseButton {
  background: #7ce3e1;
  border-radius: 5px;
  width: 223px;
  height: 47px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}

.counterWords {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #949494;
}

.buttonShowMore {
  margin-left: 591px;
  margin-bottom: 109px;
  background: #5970ff;
  border-radius: 5px;
  width: 305px;
  height: 59px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.04em;
  border: none;
  color: #ffffff;
}

.mobile {
  display: none !important;
}

@media (max-width: 375px) {
  html {
    width: 375px;
  }
  .mobile {
    display: flex !important;
  }

  .desktop {
    display: none !important;
  }

  .headerWrapper {
    padding: 0 26px 0 14px;
  }

  .NavigationWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menuWrapper {
    display: none;
  }

  .menuList {
    display: none;
  }

  .menuItem {
    display: none;
  }

  .menuItemHref {
    display: none;
  }

  .authorizationButtonBlock {
    .primaryButton {
      display: none;
    }

    .lightButton {
      display: none;
    }

    .verticalLine {
      display: none;
    }

    .loginButton {
      display: none;
    }

    width: fit-content;
  }

  .menuMobileWrapper {
    background-color: $default-turquoise-color;
    width: 100%;
    height: 69vh;
    padding: 36px 0 76px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .ElementmenuMobile {
    padding-bottom: 26px;
    .menuItemHrefMobile {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: #ffffff;
      text-decoration: none;
    }
    .menuItemHrefMobileLogin {
      opacity: 0.4;
      padding-top: 50px;
      padding-bottom: 20px;
    }
  }

  .loginButtonMobile {
    width: 295px;
    height: 51.96px;
    background: #7ce3e1;
    border-radius: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    border: none;
    color: $default-black-color;
  }

  .userDocumentsDataWrapper {
    padding-top: 9px;
    margin-left: 15px;
  }

  .userCompanyDataWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 106px;
    padding: 0px 16px 5px 10px;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 5px;
    margin-right: 1px;
  }

  .userCompanyData {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    padding-top: 5px;
  }
  .userCompanyDataCount {
    margin-top: 0px;
    padding-left: 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .userCompanyLimit {
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
  }

  .userCompanyLimitCount {
    margin-top: -0px;
    padding-left: 0px;
  }

  // .userCompanyDataLoading {
  //   display: none;
  // }

  // // .userCompanyDataLoading {
  // //   display: flex;
  // //   flex-direction: column;
  // //   align-items: center;
  // //   width: 175px;
  // //   height: 63px;
  // //   justify-content: center;
  // //   background: rgba(217, 217, 217, 0.4);
  // //   border-radius: 5px;
  // //   margin-right: 128px;
  // // }

  // // .userCompanyDataLoader {
  // //   width: 24px;
  // //   height: 24px;
  // //   animation: 1s linear 0s normal none infinite running userCompanyDataLoader;
  // //   -webkit-animation: 1.5s linear 0s normal none infinite running
  // //     userCompanyDataLoader;
  // //   width: 100px;
  // // }
  // // @keyframes userCompanyDataLoader {
  // //   0% {
  // //     transform: rotate(0deg);
  // //   }
  // //   100% {
  // //     transform: rotate(360deg);
  // //   }
  // // }
  // // @-webkit-keyframes userCompanyDataLoader {
  // //   0% {
  // //     transform: rotate(0deg);
  // //   }
  // //   100% {
  // //     transform: rotate(360deg);
  // //   }
  // // }

  .userAccountTextWrapper {
    display: none;
  }

  .userName {
    display: none;
  }

  .userAccountLogout {
    display: none;
  }

  .userAvatar {
    display: none;
  }

  .mainWrapper {
    display: flex;
    flex-direction: column;
    padding: 31px 14px 0px 14px;
  }

  .leftPartRegister {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
  }

  .primaryTitle {
    margin-block: 0;
    margin-inline: 0;
    display: flex;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: $default-black-color;
  }

  .imgPeopleLogin {
    margin-top: 599px;
    width: 335px;
    height: 356px;
    padding: 49px 14px 80px 13px;
  }

  .rightPartRegister {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .imgProtected {
    z-index: 10;
    position: absolute;
    position: absolute;
    width: 75.22px;
    height: 92.06px;
    left: 95px;
    top: 273px;
  }

  .loginForm {
    margin-top: -970px;
    background: $default-white-color;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: fit-content;
  }

  .loginFormWrapper {
    padding: 25px 15px 20px 15px;
    align-items: flex-start;
  }

  .buttonsBlockWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 40px;
    width: fit-content;
  }

  .formLightButtonLogin {
    font-size: 14px;
    line-height: 17px;
    width: 103px;
    margin-right: 20px;
  }

  .formLightButtonRegist {
    font-size: 14px;
    line-height: 17px;
    width: 182px;
  }

  .formLable {
    font-size: 14px;
    line-height: 17px;
    width: 227px;
    .secondsryButton {
      font-size: 20px;
      line-height: 24px;
      width: 305px;
      height: 59px;
      margin-bottom: 14px;
      margin-top: 7px;
    }
  }

  .forminput {
    width: 305px;
  }

  .secondsryButton {
    font-size: 20px;
    line-height: 24px;
    width: 305px;
    height: 59px;
    margin-bottom: 14px;
    margin-top: 7px;
  }

  .blueButton {
    width: 166px;
    height: 17px;
    margin-bottom: 30px;
    margin-left: 70px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $default-turquoise-color;
    padding: 25px 45px 0px 60px;
  }

  .logoFooter {
    margin-top: -24px;
  }

  .infoFooterWrapper {
    justify-content: end;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .infoFooter {
    max-width: 200px;
    padding-bottom: 21px;
  }

  .footerCopyright {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
  }

  .secondaryTitle {
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
  }

  .subtitleMain {
    padding-top: 19px;
    padding-bottom: 32px;
  }

  .imgAddData {
    width: 347px;
    height: 327px;
  }

  .mainWrapperColumn {
    flex-direction: column;
  }

  .aboutUsTitle {
    padding-left: 14px;
    width: 274px;
    font-family: "Ferry";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.01em;
  }

  .SliderAboutUs {
    margin: 32px 0 80px 40px;
    width: 298px;
    height: 188px;
  }
  .mobileSlideSliderAboutUs {
    width: 298px;
    height: 188px;
  }

  .slick-prev {
    left: -30px !important;
  }
  .slick-prev,
  .slick-next {
    top: 40% !important;
  }

  .NextArrow {
    margin-left: 5px !important;
  }

  PrevArrow {
    margin-left: 20px !important;
  }

  .whyWeImgWrapper {
    position: relative;
    width: 347px;
    height: 392px;
  }

  .WhyWeImg {
    width: 891.41px;
    height: 392.52px;
    margin: 0;
    padding: 0;
    position: absolute;
    clip: rect(0, 347px, 392px, 0);
  }

  .mainWrapperPrice {
    flex-direction: column;
    padding-top: 107px;
  }

  .therdTittle {
    font-size: 32px;
    line-height: 34px;
  }

  .ProductCardList {
    flex-direction: column;
    margin-top: 37px;
    padding-bottom: 43px;
  }

  .cardWrapper {
    width: 335px;
    height: 512px;
    margin-right: 14px;
    margin-bottom: 43px;
  }

  .cardWrapperBeginner {
    border: 2px solid $default-orange-color;
  }

  .cardTitlewrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .cardTitlewrapperBeginner {
    background-color: $default-orange-color;
    border: 2px solid $default-orange-color;
    border-radius: 8px 8px 0px 0px;
  }

  .cardTitlewrapperPro {
    background-color: $default-light-turquoise-color;
    border-radius: 10px 10px 0px 0px;
  }

  .cardTitlewrapperBusiness {
    background-color: $default-black-color;
    border-radius: 10px 10px 0px 0px;
  }

  .textCard {
    padding: 30px 26px 34px 30px;
  }

  .cardTitle {
    font-size: 30px;
    line-height: 36px;
  }

  .cardSubtitle {
    font-size: 18px;
    line-height: 22px;
    width: 285px;
  }

  .cardTitleBusiness {
    color: $default-white-color;
  }

  .cardSubtitleBusiness {
    color: $default-white-color;
  }

  .logoCard {
    z-index: 10;
    padding-right: 10px;
    padding-top: 13px;
    margin-left: -90px;
    width: 59px;
    height: 53.18px;
  }

  .priceCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 38px 36px 24px;
  }

  .activeTarifeBage {
    margin-left: 136px;
    display: none;
  }

  .priceCardWrapperNobadge {
    padding-top: 35px;
  }

  .priceWrapperNoMonth {
    padding-bottom: 21px;
  }

  .priceOfMonth {
    font-size: 18px;
    line-height: 22px;
  }

  .includedInTariffWrapper {
    font-size: 18px;
    line-height: 22px;
  }

  .includedInTarifTitle {
    font-size: 16px;
    line-height: 22px;
  }

  .therdButton {
    width: 286.57px;
  }

  .imgFined {
    height: 403px;
    object-fit: scale-down;
    margin-left: 36px;
    padding-bottom: 25px;
  }

  .SearchNewsByCompany {
    display: flex;
    flex-direction: column;
  }

  .leftPartSearc {
    display: flex;
    flex-direction: column;
    margin-left: -14px;
  }

  .SearchTextWrapper {
    padding-right: 0px;
  }

  .rightPartSearchNewsByCompany {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .formSearcWrapper {
    flex-direction: column;
    width: 361px;
    height: 688px;
    margin-left: -14px;
    margin-bottom: 24px;
    padding: 24px 0px 37px 14px;
  }

  .formSearcLeft {
    display: flex;
    flex-direction: column;
  }

  .formSearcRight {
    display: flex;
    flex-direction: column;
  }

  .checkSearcWrapper {
    display: none;
  }

  .formLable {
    padding-bottom: 20px;
  }

  .forminputSearc {
    width: 335px;
    margin-bottom: 30px;
  }

  .selectTonal {
    width: 335px;
  }
  .DatePickerWrapper {
    flex-direction: column;
  }

  .DatePicker {
    width: 335px;
    height: 43px;
    margin: 20px 26px 10px 0px;
  }

  .buttonSearcWrapper {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 40px;
    margin-bottom: 32px;
  }

  .FothButton {
    width: 340px;
  }

  .LoadingDataCompanyWrapperHorizontal {
    flex-direction: column;
    margin: 29px 17px 59px 14px;
  }

  .rightPartDataCompany {
    padding-left: 0px;
  }

  .subtitleDataCompany {
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 18px;
    line-height: 22px;
  }

  .mobileTitle {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.01em;
  }

  .SearchResultDataCompanyImg {
    width: 350px;
    height: 233.73px;
  }

  .SummaryDataCompanyTitleWrapper {
    margin-left: 14px;
  }

  .SliderSummaryDataCompany {
    box-sizing: border-box;
    margin: 34px 0 57px 30px;
    width: 298px;
    height: 140px;
    border: 1px solid #029491;
    border-radius: 10px 10px 10px 10px;
    position: relative;
  }

  .sliderBlock {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: fit-content !important;
    height: 110px !important;
    padding: 0px 0px 26px 15px;
    border-left: none;
    letter-spacing: 0.01em;
  }

  .sliderAkcentBlock {
    width: 139px !important;
    height: 52px;
    border-radius: 10px 0px 0px 10px;
    padding-top: 23px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }

  .periodCell {
    margin-left: -50px;
  }

  .countDataCell {
    margin-left: -70px;
  }

  .riskDataCell {
    margin-left: -70px;
  }

  .ReceivedDataCompanyTitle {
    margin-left: 14px;
    width: 272px;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.01em;
  }

  .DocumentItemsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 34px;
    margin-left: 14px;
  }

  .newsWrapper {
    margin-right: 26px;
    margin-bottom: 20px;
    padding: 19px 14px 18px 24px;
    width: 295px;
  }

  .headerNews {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
  }

  .titleNews {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.01em;
    padding: 21px 0 20px 0;
  }

  .badgeNews {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.01em;
    padding: 4px 12px 4px 12px;
  }

  .imageNews {
    margin-top: 13px;
    border-radius: 10px;
    width: 100%;
    height: 158px;
  }

  .imageNewsImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .digestNews {
    margin-top: 18px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
  }

  .buttonAndInfoBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .lightTurquoiseButton {
    width: 195px;
    height: 40.7px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
  }

  .counterWords {
    font-size: 14px;
    line-height: 17px;
  }

  .buttonShowMore {
    margin: 36px 26px 57px 14px;
    width: 335px;
    height: 59px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .footer {
    padding: 25px 19px 0px 18px;

    .logoFooter {
      width: 111px;
      height: 111px;
      margin-bottom: 24px;
    }
  }

  .mobileMenu {
    display: flex;
    box-sizing: border-box;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    width: 30px;
    height: 30px;
    background-image: url(../src/asets/images/mobile-menu-ikon.svg);
    background-repeat: no-repeat;
    border-width: 0;
  }

  .mobile.SliderSummaryDataCompany {
    .sliderItem {
      box-sizing: border-box;
      width: 298px !important;
      height: 100%;
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 10px;

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .header {
          background: #029491;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #ffffff;
        }

        .value {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.01em;
        }

        .value,
        .header {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .slick-list {
    width: 100%;
  }

  .slick-track {
    height: 100%;
  }

  .slick-slide {
    height: 100%;

    & > div {
      height: 100%;
    }
  }

  .slick-next:before {
    display: none;
  }

  .slick-prev:before {
    display: none;
  }
}
